# Mac
.DS_Store

# folders
bin/
#.settings/
.metadata/ 
build/
.vscode/

# files
.project
.classpath
.pmd
.checkstyle
.vscode
turismo.uy/.project
turismo.uy/.classpath

# extensions
*.class
*.jar
*.zip

# Maven
log/
target/ 

# https://stackoverflow.com/questions/26160644/indecision-on-which-files-to-upload-on-github
