# Mac
.DS_Store

# compiled java 
servidor-central/bin/

# .settings
servidor-central/.settings
# .project
servidor-central/.project

# vscode
*/.vscode


*.class
*.jar
*.zip

# Maven
log/
target/ 

# https://stackoverflow.com/questions/26160644/indecision-on-which-files-to-upload-on-github