.formularioRegistro{
    background-color: white;
}
.FechaNacimientoSpanValidate{
    color: red;
    display: none;
}

#failAltaUsuario{
	color: red;
}


#DivAjaxUsuarioYaExiste i{
	color: #e8be17;
}

#DivAjaxUsuarioYaExisteEmail i{
	color: #e8be17;
}